.App {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-image: url('C:\Users\karma\nimbus\landing\src\Assets\bg.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: black; /* Fallback background color */
}

/* Ensure the body takes up at least the full height of the viewport */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Allow the content to grow to fill available space */
.App {
  flex: 1;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

.footer a {
  margin: 0 10px;
  color: #333;
  text-decoration: none;
  color: white;
}

.footer a:hover {
  color: #000000;
}

.first-heading {
  position: relative;
  text-align: center;
  font-size: 5rem;
  color: white;
  margin-top: 4.5rem;
  animation: fadeIn 2s ease;
}


/* NAVBAR */

/* Navbar.css */
.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  color: white;
  padding: 10px 20px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #58a6ff;
}

/* ABOUT US */
/* Card.css */

.card {
  position: relative;
  text-align: center; /* Center-align text */
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
  border-radius: 25px; /* Rounded corners */
  padding: 20px;
  margin: 20px auto; /* Automatically center the card horizontally */
  max-width: 800px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
  animation: fadeIn 2s ease; /* Animation */
}


/* Animation keyframes */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
